<head>
    <link rel="shortcut icon" type="image/x-icon" href="../../icon/OnlineTestKecil.ico" />
    <title>Master Soal | Test Online</title>
</head>
<div class="row-fluid">
   <div class="span12 well-large">
       <center><img src="../icon/logo.png" width="288" height="114" /></center>
       <center><h1>Laporan Soal</h1></center>
    <form class="form-horizontal" name="formEdit">
        <div class="span12 well-large">
       <label class="control-label" for="cari">Cari : &nbsp;</label>
       <select>
                <option>ID</option>
                <option>Kode Soal</option>
                <option>Judul Soal</option>
                <option>Mata Pelajaran</option>
        </select>
       <input type="text" id="cari" name="cari" placeholder="Kata Kunci" ng-model="currentSoal.cari" required>
       <button class="btn btn-warning" data-toggle="modal"><i class="icon-search"></i>&nbsp;&nbsp; Cari</button>
       </div>
    </form>  
   </div> 
</div>
<div class="row-fluid">
      <h3>List Soal</h3>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Jumlah Pertanyaan</th>
                <th>Kode Soal</th>
                <th>Judul Soal</th>
                <th>Nilai KKM</th>
                <th>Tingkat Kesulitan</th>
                <th>Mata Pelajaran</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in soals.content">
                <td>{{x.id}}</td>
                <td>{{x.jumlahPertanyaan}}</td>
                <td>{{x.kode}}</td>
                <td>{{x.nama}}</td>
                <td>{{x.nilaiLulusMinimum}}</td>
                <td>{{x.tingkatKesulitan}}</td>
                <td>{{x.topik.nama}}</td>
            </tr>
        </tbody>
    </table>

</div>  
</div>