<div class="span5 well-large">
    <h1>School List</h1>

    <a class="btn" ng-click="baru()">
        <i class="icon-plus-sign"></i>Create New School
    </a>
    <hr>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Sub District</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in schools">
                <td>{{x.name}}</td>
                <td>{{x.address}}</td>
                <td>{{x.subdistrict.name}}</td>
                <td>{{x.phone}}</td>
                <td>{{x.website}}</td>
                <td>{{x.email}}</td>
                <td>
                    <a ng-click="edit(x)"><i class="icon-edit"></i></a>
                    <a ng-click="remove(x)"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="span5 well-large">
    <h1>Form School</h1>
    <form class="form-horizontal" name="formEdit">
        <div class="control-group" ng-class="{error: formEdit.label.$invalid}">
            <label class="control-label" for="label">Label : &nbsp;</label>
            <input type="name" id="name" 
                   name="label" 
                   placeholder="School Name" 
                   ng-model="currentSchool.name"
                   required>
            <span ng-show="formEdit.label.$error.required" class="help-inline">required</span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="simpan()" ng-disabled="isClean() || formEdit.$invalid">Save</button>
            <button type="button" class="btn" ng-click="baru()">Clear</button>
        </div>
    </form>
</div>